/.idea
.DS_Store
.vscode/

go.sum
test.db
/test_cache

/dist/
/pkg/assets/

node_modules/
/ui/dist/
/ui/public/static/bundle.*
npm-debug.log
yarn-error.log
*.plist
XBVR.app/Contents/MacOS/XBVR
XBVR.app/Contents/Resources/XBVR.icns
docker-compose.yml
__debug_bin
