name: lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.13.x

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12'

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Check code formatting using gofmt
      uses: Jerome1337/gofmt-action@v1.0.4
